*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background-color: #17162d;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

.btn {
  padding: 1em 2em;
  font-size: 1.6rem;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-family: ocr-a-std, monospace;
  letter-spacing: 1px;
  cursor: pointer;
}

/* HEADER */
.header {
  overflow: hidden;
}

.header-img {
  display: block;
  background: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position-y: -270px;
  background-position-x: 50%;
  z-index: -1;
}

/* NAV SECTION */
.nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8em;
}

.nav .navbar .logo {
  width: 180px;
}

.nav .navbar .nav-items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  left: 0;
  top: 0;
  padding: 3em 0;
  padding-left: 4em;
  background-color: #1f095f;
  width: 100%;
  height: 100vh;
  display: none;
}

.nav .navbar .nav-items img {
  margin: 1.6em;
  width: 25px;
}

.nav .navbar .nav-items a {
  padding: 2em 0;
  padding-left: 30px;
  font-family: ocr-a-std, monospace;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}

.nav .navbar .menu-btn {
  width: 35px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/* HERO SECTION */
.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8em;
  height: 100vh;
}

.hero-section .hero-text {
  text-align: center;
}

.hero-section .hero-text .heading {
  padding-bottom: 1em;
  font-size: 4rem;
  text-transform: uppercase;
}

.hero-section .hero-text .heading .h-1 {
  font-size: 3.2rem;
  font-weight: 200;
  letter-spacing: 4px;
}

.hero-section .hero-text .heading .h-2 {
  color: #46b5ff;
}

.hero-section .hero-text .heading .h-3 {
  font-size: 4.3rem;
}

.hero-section .hero-text .subhead {
  padding-bottom: 4em;
  font-size: 1.4rem;
  line-height: 26px;
}

.hero-section .hero-text .hero-btn {
  text-transform: uppercase;
}

.hero-section .hero-img {
  display: none;
}

.arrow {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 85px;
  width: 25px;
}

.software-info {
  height: 600px;
}

/* SECTION PROFIT */
.profit {
  padding: 0 1.8em;
}

.profit .profit-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profit .profit-box .profit-img {
  width: 300px;
}

.profit .profit-box .profit-box-text {
  text-align: center;
  padding-top: 3em;
}

.profit .profit-box .profit-box-text .profit-title {
  font-size: 2.4rem;
  padding-bottom: 1.4em;
}

.profit .profit-box .profit-box-text .profit-text {
  font-size: 1.4rem;
  line-height: 22px;
  padding-bottom: 2.6em;
}

.profit .profit-box .profit-box-text .profit-btn {
  letter-spacing: 0px;
}

/* ADVANTAGES CARDS */
.advantages {
  padding: 0 1.8em;
}

.advantages .advantages-box {
  padding-top: 10em;
}

.advantages .advantages-box .card {
  position: relative;
  padding: 1.4em 2em;
  margin: 1em 0;
  height: 400px;
  text-align: left;
  background-image: linear-gradient(150deg, #1e4c87, #0e204b, #0e1a37);
  border-radius: 14px;
}

.advantages .advantages-box .card .card-icon {
  padding-bottom: 2em;
  width: 70px;
}

.advantages .advantages-box .card .card-heading {
  padding-bottom: 0.8em;
  font-size: 2.2rem;
  font-weight: 500;
}

.advantages .advantages-box .card .card-text {
  padding-bottom: 1.6em;
  color: #95a0b1;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 23px;
}

.advantages .advantages-box .card .card-link {
  color: #46B5FF;
  font-family: ocr-a-std, monospace;
  text-decoration: none;
}

/* SECTION SERVICES */
.services {
  padding: 4em 1.8em;
}

.services .services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services-box .services-box-img-desktop {
  display: none;
}

.services .services-box .services-img {
  width: 300px;
}

.services .services-box .services-box-text {
  text-align: center;
  padding-top: 3em;
}

.services .services-box .services-box-text .services-title {
  font-size: 2.4rem;
  padding-bottom: 1.4em;
}

.services .services-box .services-box-text .services-text {
  font-size: 1.4rem;
  line-height: 22px;
  padding-bottom: 2.6em;
}

.services .services-box .services-box-text .services-btn {
  letter-spacing: 0px;
}

@media (min-width: 576px) {
  .hero-section .hero-text .heading .h-1 {
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 3px;
  }
  .hero-section .hero-text .heading .h-3 {
    font-size: 5rem;
  }
}

@media (min-width: 768px) {
  .hero-section .hero-text .subhead {
    margin: 0 6em;
  }
}

@media (min-width: 998px) {
  .hero-section .hero-text .subhead {
    margin: 0 8em;
  }
  .arrow {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 85px;
    width: 25px;
  }
  .profit {
    padding: 0 1.8em;
  }
  .profit .profit-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 4em;
  }
  .profit .profit-box .profit-img {
    width: 400px;
  }
  .profit .profit-box .profit-box-text {
    text-align: left;
    padding-top: 0;
    width: 50%;
  }
  .profit .profit-box .profit-box-text .profit-title {
    font-size: 3rem;
    padding-bottom: 1.4em;
  }
  .profit .profit-box .profit-box-text .profit-text {
    font-size: 1.4rem;
    line-height: 24px;
    padding-bottom: 2.6em;
  }
  .profit .profit-box .profit-box-text .profit-btn {
    letter-spacing: 0px;
  }
  .services {
    padding: 8em 1.8em;
  }
  .services .services-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 4em;
  }
  .services .services-box .services-box-img-desktop {
    display: block;
  }
  .services .services-box .services-box-img {
    display: none;
  }
  .services .services-box .services-img-desktop {
    width: 400px;
  }
  .services .services-box .services-box-text {
    text-align: left;
    padding-top: 0;
    width: 50%;
  }
  .services .services-box .services-box-text .services-title {
    font-size: 3rem;
    padding-bottom: 1.4em;
  }
  .services .services-box .services-box-text .services-text {
    font-size: 1.4rem;
    line-height: 24px;
    padding-bottom: 2.6em;
  }
  .services .services-box .services-box-text .services-btn {
    letter-spacing: 0px;
  }
}

@media (min-width: 1200px) {
  .header-img {
    display: block;
    background: url(../img/header.png);
    background-repeat: no-repeat;
  }
  /* NAV SECTION */
  .nav .navbar {
    padding: 1.2em 1.8em;
  }
  .nav .navbar .logo {
    width: 200px;
  }
  .nav .navbar .nav-items {
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: inherit;
    height: 0;
    background-color: inherit;
  }
  .nav .navbar .nav-items img {
    display: none;
  }
  .nav .navbar .nav-items a {
    padding-left: 30px;
    font-family: ocr-a-std, monospace;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
  }
  .nav .navbar .menu-btn {
    display: none;
  }
  /* HERO SECTION */
  .hero-section .hero-text {
    display: inline-block;
    text-align: left;
    width: 50%;
  }
  .hero-section .hero-text .heading {
    padding-bottom: 1em;
    font-size: 4rem;
    text-transform: uppercase;
  }
  .hero-section .hero-text .heading .h-1 {
    font-size: 5.5rem;
    font-weight: 200;
    letter-spacing: 5.3px;
  }
  .hero-section .hero-text .heading .h-3 {
    font-size: 7rem;
  }
  .hero-section .hero-text .subhead {
    margin: 0;
    padding-bottom: 4em;
    font-size: 1.6rem;
    line-height: 30px;
    padding-right: 8em;
  }
  .hero-section .hero-text .hero-btn {
    padding: 1em 2.4em;
  }
  .hero-section .hero-img {
    display: inline-block;
    width: 500px;
    margin-left: 8em;
  }
  .profit .profit-box .profit-img {
    width: 450px;
  }
  .profit .profit-box .profit-box-text .profit-title {
    font-size: 3.4rem;
    padding-bottom: 1em;
  }
  .profit .profit-box .profit-box-text .profit-text {
    font-size: 1.6rem;
    font-weight: 300;
  }
  .advantages {
    padding: 0 1.8em;
  }
  .advantages .advantages-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages .advantages-box .card {
    padding: 3em;
    height: 450px;
    max-width: 28%;
  }
  .services .services-box .services-img-desktop {
    width: 450px;
  }
  .services .services-box .services-box-text .services-title {
    font-size: 3.4rem;
    padding-bottom: 1em;
  }
  .services .services-box .services-box-text .services-text {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

@media (max-width: 352px) {
  .hero-section .hero-text .heading .h-1 {
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .hero-section .hero-text .heading .h-3 {
    font-size: 3.2rem;
  }
}

.bounce-top {
  display: block;
  -webkit-animation: bounce-top 2s infinite both;
          animation: bounce-top 2s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-19 18:20:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */