@media (min-width: 1200px) {
	.header-img {
		display: block;
		background: url(../img/header.png);
		background-repeat: no-repeat;
	}

	/* NAV SECTION */

	.nav {
		.navbar {
			padding: 1.2em 1.8em;

			.logo {
				width: 200px;
			}

			.nav-items {
				position: inherit;
				display: flex;
				flex-direction: row;
				align-items: center;
				width: inherit;
				height: 0;
				background-color: inherit;

				img {
					display: none;
				}

				a {
					padding-left: 30px;
					font-family: ocr-a-std, monospace;
					font-size: 1.4rem;
					color: $white;
					text-decoration: none;
				}
			}

			.menu-btn {
				display: none;
			}
		}
	}

	/* HERO SECTION */

	.hero-section {
		.hero-text {
			display: inline-block;
			text-align: left;
			width: 50%;

			.heading {
				padding-bottom: 1em;
				font-size: 4rem;
				text-transform: uppercase;

				.h-1 {
					font-size: 5.5rem;
					font-weight: 200;
					letter-spacing: 5.3px;
				}

				.h-3 {
					font-size: 7rem;
				}
			}

			.subhead {
				margin: 0;
				padding-bottom: 4em;
				font-size: 1.6rem;
				line-height: 30px;
				padding-right: 8em;
			}
			.hero-btn {
				padding: 1em 2.4em;
			}
		}

		.hero-img {
			display: inline-block;
			width: 500px;
			margin-left: 8em;
		}
	}

	.profit {
		.profit-box {
			.profit-img {
				width: 450px;
			}
			.profit-box-text {
				.profit-title {
					font-size: 3.4rem;
					padding-bottom: 1em;
				}
				.profit-text {
					font-size: 1.6rem;
					font-weight: 300;
				}
			}
		}
	}

	.advantages {
		padding: 0 1.8em;
		.advantages-box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.card {
				padding: 3em;
				height: 450px;
				max-width: 28%;
			}
		}
	}
	.services {
		.services-box {
			.services-img-desktop {
				width: 450px;
			}
			.services-box-text {
				.services-title {
					font-size: 3.4rem;
					padding-bottom: 1em;
				}
				.services-text {
					font-size: 1.6rem;
					font-weight: 300;
				}
			}
		}
	}
}
