@media (max-width: 352px) {
	.hero-section {
		.hero-text {
			.heading {
				.h-1 {
					font-size: 2.5rem;
					font-weight: 200;
					letter-spacing: 2px;
				}

				.h-3 {
					font-size: 3.2rem;
				}
			}
		}
	}
}