@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Segoe UI', Arial, sans-serif;
	font-size: 1.6rem;
	color: $white;
	background-color: $dark-navy;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
}

.btn {
	padding: 1em 2em;
	font-size: 1.6rem;
	background: none;
	color: white;
	border: 2px solid white;
	border-radius: 8px;
	font-family: ocr-a-std, monospace;
	letter-spacing: 1px;
	cursor: pointer;
}

/* HEADER */

.header {
	overflow: hidden;
}

.header-img {
	display: block;
	background: url(../img/hero.png);
	background-repeat: no-repeat;
	background-position-y: -270px;
	background-position-x: 50%;
	z-index: -1;
}

/* NAV SECTION */

.nav {
	position: absolute;
	top: 0;
	width: 100%;

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.8em;

		.logo {
			width: 180px;
		}

		.nav-items {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: left;
			left: 0;
			top: 0;
			padding: 3em 0;
			padding-left: 4em;
			background-color: $navy-blue;
			width: 100%;
			height: 100vh;
			display: none;

			img {
				margin: 1.6em;
				width: 25px;
			}

			a {
				padding: 2em 0;
				padding-left: 30px;
				font-family: ocr-a-std, monospace;
				font-size: 1.4rem;
				color: $white;
				text-decoration: none;
			}
		}

		.menu-btn {
			width: 35px;
			background: none;
			border: none;
			cursor: pointer;
		}
	}
}

.mobile {
	display: flex !important;
}

/* HERO SECTION */

.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.8em;
	height: 100vh;

	.hero-text {
		text-align: center;

		.heading {
			padding-bottom: 1em;
			font-size: 4rem;
			text-transform: uppercase;

			.h-1 {
				font-size: 3.2rem;
				font-weight: 200;
				letter-spacing: 4px;
			}

			.h-2 {
				color: $blue;
			}

			.h-3 {
				font-size: 4.3rem;
			}
		}

		.subhead {
			padding-bottom: 4em;
			font-size: 1.4rem;
			line-height: 26px;
		}

		.hero-btn {
			text-transform: uppercase;
		}
	}

	.hero-img {
		display: none;
	}
}

.arrow {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 85px;
	width: 25px;
}

.software-info {
	height: 600px;
}

/* SECTION PROFIT */
.profit {
	padding: 0 1.8em;
	.profit-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.profit-img {
			width: 300px;
		}
		.profit-box-text {
			text-align: center;
			padding-top: 3em;

			.profit-title {
				font-size: 2.4rem;
				padding-bottom: 1.4em;
			}
			.profit-text {
				font-size: 1.4rem;
				line-height: 22px;
				padding-bottom: 2.6em;
			}

			.profit-btn {
				letter-spacing: 0px;
			}
		}
	}
}

/* ADVANTAGES CARDS */
.advantages {
	padding: 0 1.8em;
	.advantages-box {
		padding-top: 10em;

		.card {
			position: relative;
			padding: 1.4em 2em;
			margin: 1em 0;
			height: 400px;
			text-align: left;
			background-image: $blue-gradient-solid;
			border-radius: 14px;

			.card-icon {
				padding-bottom: 2em;
				width: 70px;
			}

			.card-heading {
				padding-bottom: 0.8em;
				font-size: 2.2rem;
				font-weight: 500;
			}

			.card-text {
				padding-bottom: 1.6em;
				color: #95a0b1;
				font-size: 1.4rem;
				font-weight: 300;
				line-height: 23px;
			}

			.card-link {
				color: #46b5ff;
				font-family: ocr-a-std, monospace;
				text-decoration: none;
			}
		}
	}
}

/* SECTION SERVICES */
.services {
	padding: 4em 1.8em;
	.services-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.services-box-img-desktop {
			display: none;
		}

		.services-img {
			width: 300px;
		}
		.services-box-text {
			text-align: center;
			padding-top: 3em;

			.services-title {
				font-size: 2.4rem;
				padding-bottom: 1.4em;
			}
			.services-text {
				font-size: 1.4rem;
				line-height: 22px;
				padding-bottom: 2.6em;
			}

			.services-btn {
				letter-spacing: 0px;
			}
		}
	}
}

.download {
	padding: 0 1.8em;
	.download-box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 8em 2em;
		margin: 1em 0;
		text-align: center;
		background-image: linear-gradient(150deg, #1e4c87, #0e204b, #0e1a37);
		border-radius: 14px;
		overflow: hidden;

		.download-graphic img {
			position: absolute;
			top: -430px;
			right: -100%;
			opacity: 40%;
		}

		.download-box-text {
			.download-title {
				padding-bottom: 1.4em;
				font-size: 2.4rem;
			}

			.download-text {
				padding-bottom: 2em;
				color: #bac4d3;
				font-size: 1.4rem;
				font-weight: 300;
				line-height: 23px;
			}
			.download-btns {
				display: flex;
				flex-direction: column;
				.download-icon img {
					width: 70px;
					padding-bottom: 2em;
				}

				.download-btn {
					padding: 1em 1.4em;
					font-size: 1.3rem;
				}
			}
		}
	}
}

@import './small';
@import './medium';
@import './large';
@import './xlarge';
@import './xsmall';
@import './_animate';
